<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
</head>
<body>
	<h1>Show Page</h1>
		<form action="" method="get">
			<input type="submit" value="return">
		</form>
		<form action="" method="PUT">
			<input type="submit" value="save video">
		</form>
</body>
</html>