<!DOCTYPE html>
<html>
<head>
    
</head>
<header>
  
</header>
<body>
    <h3>New user</h3>
    <form action="/restaurantroulette" method="POST">
        <input type="text" name="userName" placeholder="Name">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>