<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body>
    <h2>Edit</h2>
    <a href="/restaurantroulette/search">Back to Search</a>
    <form action="/restaurantroulette/<%=Users.id%>" method="POST" edit="editformid">
        <input type="text" name="name" value="<%= Users.userName %>" placeholder="name">
        <br>
        <input type="text" name="zipcode" value="<%= Users.zipcode %>" placeholder="zipcode">
        <input type="hidden" name="_method" value="PUT"/>
        <br>
        <button>Submit</button>
        <a href="/restaurantroulette/search"> Back to Search</a> 
    </form>
</body>
</html>
