<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body>

		<a href="/users/new"><p>New User</p></a>
		<a href="/users/search"><p>I just want to eat!</p></a>
</body>
</html>