<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
	<h1>Restaurant Roulette</h1>
		<a href="restaurantroulette/newuser"><p>New User</p></a>
		<a href="restaurantroulette/search"><p>I just want to eat!</p></a>
</body>
</html>