<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="results.ejs" method="get">
		ZipCode: <br>
		<input type="text" name="ZipCode" value="">
		<br>
		<input type="submit" value="submit">
	</form>
</body>
</html>