<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
<h1>search by zip code and radius</h1>
	<form action="/search/" method="get">
		ZipCode: <br>
		<input type="text" name="zipcode" value="" placeholder="Zipcode">
		<br>
		<input type="submit" value="submit">
	</form>
</body>
</html>