<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body id="show"> 

    <div id="users-container">
    	<div>
        <h2> <%= Users.userName %> </h2>
        <p> <%= Users.zipcode %> </p>      
      </div>
    </div>
    <a href="/restaurantroulette/search">Back to Search</a> 
    <a href="/restaurantroulette/edituser"> Edit User</a>
    <form>
  		<button>Delete User</button>
    </form>
</body>
</html>
